* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}


/* Banner */

.banner {
    width: 100%;
    padding: 20px;

    background-color: #222;
    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;

    transition: 0.5s ease;
}


/* Hide Banner */

.banner.hide {
    opacity: 0; 
    transform: translateY(-100%);
    pointer-events: none;
}


/* Close Button */

#closeBtn {
    border: none;
    background: transparent;

    color: white;
    font-size: 30px;

    cursor: pointer;
}


/* Main Content */

.content {
    padding: 60px;
    text-align: center;
}

.content h1 {
    margin-bottom: 10px;
}